<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block title%}{% endblock %}
	</title>
	<base href="/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/base.css">
	{% block styles %}
    {% endblock %}
</head>
<body>
	<div class="top-layout">
		<div class="top-menu">
			<a href="/">Menu</a>
			<a href="/products">Produtos</a>
			<a href="/contact">Contato</a>
			<a href="/form">Cadastre-se</a>
		</div>
		<div class="middle-menu">
			<div class="logo">
				<img src="images/logo1.png">
			</div>
			<div class="search">
			  <form class="form-inline my-2 my-lg-0">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light border my-2 my-sm-0" type="submit">Search</button>
        </form>
			</div>
			<span class="cart">
        <a href="/cart">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-danger" id="cart-items"></span>
        </a>
      </span>
		</div>
		<div class="bottom-menu">
			<a href="#">Poltronas</a>
			<a href="#">Cadeiras</a>
			<a href="#">Puffs</a>
			<a href="#">Sofás</a>
		</div>
	</div>
	{% block content %}

	
	{% endblock %}
	<div class="bottom-layout">
		<div class="footer">
		<div class="side1">
			Sobre Nós</br>
			Sobre a Etna</br>
			Nossas lojas</br>
			Casa Etna</br>
			Retire na Loja</br>
			Trabalhe conosco</br>
		</div>

		<div class="side2">
			Principais dúvidas</br>
			Acompanhe seu pedido</br>
			Troca e Devolução</br>
			Política e Privacidade</br>
			Regulamento de Campanhas</br>
			Serviços</br>
		</div>

		<p class="side3">
			Telefones</br>
			
			11 3386-8757</br>
			Erechim/RS</br>
			 
			0800 770 6771</br>
			Demais localidades</br>
		</p>

		<p class="side4">
			Segurança e Privacidade</br>
			Forma de Pagamento</br>
			Acompanhe a Etna</br>
			Facebook</br>
			Instagram</br>
			Youtube</br>
		</p>
	</div>
		<div class="rights">
			Todos os direitos reservados
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="js/index.js"></script>
	{% block script %}
    {% endblock %}
	</body>
</html>