{% extends './layouts/base.html' %}

{% block content %}
<div class="cart-content">
  <form class="mt-5 loggin" method="post">
    <div class="loggin-content">
      <h6 class="display-4">Logar</h6>
      <div class="login">
        <input type="email" required name="email" id="email" value="" class="form-control mb-2" placeholder="email@email">
        <input type="password" required placeholder="senha" name="password" id="password" value="" class="form-control">
      </div>
      <div class="enter">
        <button type="submit" class="btn btn-primary" name="button">Entrar</button>
        <p class="text-center mb-3">ou</p>
      </div>
      <div class="signup">
        <a href="/form" class="btn btn-outline-success" name="button">Cadastre-se</a>
      </div>
    </div>
  </form>
  <div class="cart-items">
    <h5>Meu Carrinho</h5>
    <div id="cart"></div>
    <div id="totalcart"></div>
  </div>
</div>
{% endblock %}

{% block title %}
  Carrinho de Compras
{% endblock %}

{% block styles %}
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
$( function() {
  $( "#birthday" ).datepicker();
} );
</script>
<script src="/js/cart.js"></script>
<script src="/js/base.js"></script>
{% endblock %}