{% extends './layouts/base.html' %}
	{% block styles %}
    {% endblock %}
	{% block content %}
	<div class="middle-layout">
		<div class="filtro">
			<img src="images/HOME_POLTRONA.png" style="height: 250px; width: 300px;">
			<img src="images/HOME_POLTRONA.png" style="height: 250px; width: 300px;">
			<img src="images/HOME_POLTRONA.png" style="height: 250px; width: 300px;">
		</div>
		<div class="back">
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>    
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div> 
						<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>   
			<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>   
						<div class="product-item">
				<p>Poltrona de Descanso</p>
				<img src="images/HOME_POLTRONA.png">
			</div>      	
	    </div>
	</div>
{% endblock %}
