{% extends './layouts/base.html' %}
	{% block styles %}
    {% endblock %}
	{% block content %}
	<div class="middle-layout">
<!-- 		<div class="lscontent">
			<ul>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
				<li><a href="#">Poltronas</a></li>
				<li><a href="#">Roupeiros</a></li>
				<li><a href="#">Armários</a></li>
			</ul>
		</div> -->
		<div class="rscontent">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">	
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">
			<img src="images/HOME_POLTRONA.png">	
		</div>
	</div>
{% endblock %}
