* {
	margin: 0;
	top: 0;
	bottom: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "menu" 
						"content"
						"footer";
	overflow-x: hidden;
}




#cart {
  overflow-y: auto;
  max-height: 450px;
}






.top-layout {
	grid-area: menu;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "top-menu"
						"middle-menu"
						"bottom-menu";
	height: fit-content;
	border-bottom: 1px solid black;
}
	.top-menu {
		display: grid;
		grid-template: "left-menu right-menu" / 
														1fr auto;
		height: 30px;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #e5e5e4;
	}
	.right-menu {
			grid-area: left-menu;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 105px;
		}
		.right-menu a {
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			margin-right: 10px;
			font-size: 14px;
			text-decoration: none;
			color: #7f7f7f;
		}
		.left-menu {
			grid-area: right-menu;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		 .left-menu a {
		 	margin-left: 10px;
			margin-right: 10px;
			font-size: 14px;
			text-decoration: none;
			color: #7f7f7f;
		 }

	.middle-menu {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "logo search cart";
		width: 100%;
		height: 150px;
		background-color: white;
		border-bottom: 1px solid #e5e5e4;
	}
		.logo {
			grid-area: logo;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			.logo img {
				height: 100px;
				width: auto;
				margin-left: 10px;
			}
		.search {
			grid-area: search;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
			.search form {
				flex-wrap: nowrap;
				margin-left: 30px;
				margin-right: 30px;
			}

			.search input {
			}
			@media (min-width: 576px) {
				.form-inline .form-control {
					width: 50vw;
			}

			}

			.search button {
				height: 40px;
			}
		.cart {
			grid-area: cart;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-right: 20px;
		}

	.bottom-menu {
		display: flex;
		height: 50px;
		justify-content: space-between;
		align-items: center;
		margin-left: auto;
		margin-right: auto;

	}
		.bottom-menu a {
			margin-left: 50px;
			margin-right: 50px;
			font-size: 18px;
			text-decoration: none;
			color: #7f7f7f;
			font-weight: 400;
		}






.middle-layout {
	grid-area: content;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "lscontent line1"
						"lscontent line2"
						"lscontent rscontent";
	min-height: 100vh;
}
	.offer {
		grid-area: line1;
		background-color: #cecece;
		height: auto;
		border-bottom: 1px solid grey;
	}
		.offer img {
		max-width:100vw;
	    max-height:auto;
	    width: auto;
	    height: 40px;
		}

	.banner {
		grid-area: line2;
		background-color: green;
	}
		.banner img {
			height: 60vw;
			width: 100vw;
			max-width: 100vw;
		}

	.lscontent {
		grid-area: lscontent;

		display: flex;
/*		background-color: #e8e8e8;*/
		grid-column: 1 / 2;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
		flex-direction: column;
		position: relative;
		width: 150px;
		border-right: 2px solid grey;
	}
		.lscontent ul {
			list-style: none;
			overflow: hidden;
			overflow-y: scroll;
			max-height: 100vh;
			width: 100%;
		}

		.fixed {
			position: fixed;
		}

			.lscontent li {
				margin-top: 10px;
			}
	.rscontent {
		grid-area: rscontent;
		margin-top: 4vw;
		margin-bottom: 4vw;
		display: grid;
		grid-template: "ofertas" auto
						"produtos" 1fr
						/ 1fr;
/*		flex-wrap: wrap;
		justify-content: center;
		min-width: 85vw;*/
	}
		.rscontent img {
			height: 300px;
			width: auto;
			margin-left: 4vw;
			margin-right: 4vw;
		}

		.ofertas {
			height: 100px;
			grid-area: ofertas; 
			background-color: #f7c65f;
			display: flex;
			justify-content: center;
			align-self: flex-end;
			margin-bottom: 	4vw;
		}
				.ofertas p {
						align-self: flex-end;
						font-size: 45px;
				}

		.produto {
			grid-area: produtos;
			display: flex;
			flex-direction: row;
		}
			.products a {
				color: black;
			}



	.cart-content {
		display: grid;
		grid-template: "loger shopper" auto / 1fr 1fr;
		min-height: 100vh;
	}	

		.loggin {
			grid-area: loger;
			display: flex;
			margin-left: auto;
			margin-right: auto;
			max-height: 50vh;
		}
			.loggin-content {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-content: center;
				width: 20rem;
			}

			.enter {
				margin-top: 10px;
			}
				.enter button {
					width: -webkit-fill-available;
					height: auto;
					margin-bottom: 10px;
				}

			.signup {
			}
				.signup a {
					width: -webkit-fill-available;
					vertical-align: center;
					height: auto;
				}

			.loggin h6 {
			}

		.cart-items {
			grid-area: shopper;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background-color: #f4f4f4;
		}

			.cart-items h5 {
				margin-top: 50px;
				margin-bottom: 50px;
			}
			.cart-items a {
				height: auto;
				float: none;
			}

			#totalcart {
				display: flex;
				justify-content: flex-end;
    			margin-top: 40px;
    			font-size: 24px;
    			text-align: right;
			}

			.list-unstyled {
				padding-right: 20px;
			}





.bottom-layout {
	grid-area: footer;
	display: grid;
	grid-template-rows: 6fr auto;
	grid-template-areas: "footer"
						"rights";
	height: auto;
	width: 100%;

	flex-flow: row; 
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #ededed;

	border-top: 1px solid grey;
}
	.footer {
		display: flex;
		justify-content: space-between;
		color: black;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-bottom: 20px;
	}
	.side1, .side1 a {
x;
		color: black;
	}
	.side2, .side2 a {

		color: black;
	}
	.side3, .side3 a {

		color: black;
	}
	.side4 a {

		color: black;
	}
	.rights {
		grid-area: rights;
		align-items: flex-end;
	}




form {
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  float: right;
  width: 100px;
  height: 50px;
  font-size: 18px;
}

.table {
  margin-left: 250px;
  margin-right: 250px;
  width: 67.5%;
  text-align: center;
}




