* {
	margin: 0;
	top: 0;
	bottom: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}








body {
	display: grid;
	grid-template-columns: 1fr;
/*	grid-template-rows: 1fr 1fr 1fr;*/
	grid-template-areas: "menu" 
						"content"
						"footer";
}








.top-layout {
	grid-area: menu;

	display: grid;
	grid-template-columns: 1fr;
/*	grid-template-rows: auto auto 1fr;*/
	grid-template-areas: "top-menu"
						"middle-menu"
						"bottom-menu";
	height: fit-content;
}
	.top-menu {
		display: flex;
		justify-content: flex-end;
		height: 50px;
		background-color: #cecece;
	}
	.middle-menu {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "logo search";
		width: 100%;
	}
		.logo {
			grid-area: logo;
		}
			.logo img {
				height: 100px;
				width: auto;
			}
		.search {
			grid-area: search;
		}
	.bottom-menu {
		display: flex;
		flex-direction: start-end;
		height: 50px;
		background-color: #cecece;
	}








.middle-layout {
	grid-area: content;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "lscontent rscontent";
	margin-left: 4vw;
	margin-right: 4vw;
	margin-top: 4vw;
	margin-bottom: 4vw;
}
	.lscontent {
		grid-area: lscontent;

		display: flex;
		background-color: #c0c0c0;
		grid-column: 1 / 2;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
		flex-direction: column;
		position: relative;
	}
		.lscontent ul {
			list-style: none;
			overflow: hidden;
			overflow-y: scroll;
			max-height: 100vh;
			width: 100%;
		}

		.fixed {
			position: fixed;
		}

			.lscontent li {
				margin-top: 10px;
			}
	.rscontent {
		grid-area: rscontent;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
		.rscontent img {
			height: 300px;
			width: auto;
			margin-left: 4vw;
			margin-right: 4vw;
		}





.bottom-layout {
	grid-area: footer;
	display: grid;
}
	.footer {
		display: inherit;
		background-color: #cbcbcb;
		height: 200px;
	}





form {
  margin-left: 250px;
  margin-right: 250px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  float: right;
  width: 100px;
  height: 50px;
  font-size: 18px;
}

.table {
  margin-left: 250px;
  margin-right: 250px;
  width: 67.5%;
  text-align: center;
}




